<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>投資永續企業 Invest Sustainable Corporation</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="static/reset.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <link href="static/styles.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1"><a href="/">投資永續企業 Invest Sustainable Corporation</a></el-menu-item>
      <el-menu-item index="2"><a href="/list_r">企業名單</a></el-menu-item>
      <el-menu-item index="3"><a href="/csr_info">CSR 資訊</a></el-menu-item>
    </el-menu>
    <el-row type="flex" class="question__form">
      <el-table
        :data="tableData3"
        border
        style="width: 100%">
        <el-table-column
          prop="name"
          label="企業名稱"
          width="300">
        </el-table-column>
        <el-table-column
          prop="industry_type"
          label="企業類型"
          width="180">
        </el-table-column>
        <el-table-column
          prop="stock_id"
          label="股票代號">
        </el-table-column>
        <el-table-column
          prop="PR"
          label="社會PR">
        </el-table-column>
        <el-table-column
          prop="stock_type"
          label="股票類型">
        </el-table-column>   
      	<el-table-column       
         label="Operations">
          <template scope="scope">
            <el-popover
              placement="bottom"
              title="股票購買"
              width="200"
              trigger="click"
              :value="popoverShow"
            >
              <el-form :model="stockForm" label-width="120px">
                <el-form-item label="購買張數">
                  <el-input v-model="stockForm.num" size="small"></el-input>
                </el-form-item>
                <el-form-item label-width="120px">
                  <el-button type="primary" @click="onSubmit(scope.row.name)" size="small">購買</el-button>
                </el-form-item>
              </el-form>
              <el-button slot="reference">購買本股</el-button>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        activeIndex: '2',
        tableData3: [],
        popoverShow: false,
        stockForm: {
          num: 0
        }
      },
      mounted() {

        //  dataStr = JSON.parse( JSON.stringify( '{{ data|tojson|safe }}' ))
        const dataStr = JSON.parse(JSON.stringify('{{ data|safe }}'));
		const jsonData_o = eval('(' + dataStr + ')')

        // const data = JSON.parse(dataStr)
        this.tableData3 = jsonData_o
        // console.log(jsonData_o)
        // console.log(this.tableData3)

      },
      methods: {
        handleSelect(key, keyPath) {
          console.log(key, keyPath)
        },
        onSubmit(name) {
          this.$notify({
            title: '成功',
            message: `購買${name} ${this.stockForm.num} 張成功`,
            type: 'success'
          })
        }
      }
    })
  </script>
</body>
</html>